<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-T2W7NLK4');</script>
  <!-- End Google Tag Manager -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title | safe }}</title>

  <!-- Utiliser 'teaser' comme fallback pour 'description' -->
  <meta name="description" content="{{ description or teaser | safe }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="{{ title | safe }}">
  <meta property="og:description" content="{{ description or teaser | safe }}">
  <meta property="og:image" content="https://orbii.fr/images/posts/fr/{{ page.fileSlug }}.png">
  <meta property="og:url" content="{{ page.url | url }}">
  <meta property="og:type" content="article">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title | safe }}">
  <meta name="twitter:description" content="{{ description or teaser | safe }}">
  <meta name="twitter:image" content="{{ image | url }}">

  <!-- Canonical URL -->
  <link rel="canonical" href="{{ page.url | url }}">

  <!-- Favicon and Icons -->
  <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% block head %}{% endblock %}
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2W7NLK4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  {% block content %}{% endblock %}

  <!-- Footer -->
<footer class="footer">
    <div class="footer-container">
        <div class="footer-links">
            <ul>
              {% if lang == "en" %}
                <li><a href="/en/privacy/">Licences</a></li>
                <li><a href="/en/publish/">Publish</a></li>
                <li><a href="/en/Orbii/">Why ORBii </a></li>
              {% else %}
                <li><a href="/privacy/">Licences</a></li>
                <li><a href="/publish/">Publier</a></li>
                <li><a href="/Orbii/">Pourquoi Orbii</a></li>
              {% endif %}
            </ul>
        </div>

        <div class="footer-info">
      <div class="footer-info">
        © 2024 ORBii : "Outstanding Results Begin with Inspired Ideas"
 <br>
        A knowledge hub of Digital Transformation & AI
      </div>
    </div>
  </footer>


</body>
</html>
