<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Orbii - Pejman{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

</head>
<body>

  {% block content %}{% endblock %}

 <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-links">
          <ul>
            <li><a href="#">Droits</a></li>
            <li><a href="#">Publier des articles</a></li>
            <li><a href="#">Blog Opensource</a></li>
          </ul>
        </div>
        <div class="footer-info">
          © 2024 Orbii : Digital Transformation & AI
        </div>
      </div>
    </footer>

  <!-- Script pour définir l'année actuelle -->
  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>

   
 </body>
</html>

