<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Orbii - Pejman{% endblock %}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  {% block content %}{% endblock %}

  <footer class="footer">
    <nav class="footer-menu">
      <ul>
        <li><a href="/lien1">Droits</a></li>
        <li><a href="/lien2">Publier des articles </a></li>
        <li><a href="https://github.com/pejmang/Orbii-blog">Blog Opensource</a></li>
      </ul>
    </nav></p>
  </footer>

  <!-- Script pour définir l'année actuelle -->
  <script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>

   
 </body>
</html>

