{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/styles/style.css">
  <div class="container">
    <div class="extended">
      {% if lang == "en" %}
        <a href="/en/">Insights</a>
        <a href="/en/"> ← Go back...</a>
      {% else %}
        <a href="/">Insights</a>
        <a href="/"> ← Retour vers les autres articles</a>
      {% endif %}
    </div>

    <main id="article">
      <h1>{{ title }}</h1>
      {% if authors %}
        <div class="extended">
          Auteur : {{ authors }}
          <a href="/about/" class="no-hover-effect">
            <img src="/images/ic/i-networking.png" alt="Networking Icon" title="Networking Icon" style="width: 30px; height: auto;">
          </a>
          {% if date %}
            <div class="article-date">
              Publié le : {{ date | date("dd/MM/yyyy") }}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {{ content | safe }}
      <br>

      <div class="share-container">
        <h3>Partagez cet article :</h3>
        <!-- Utilisation de l'URL absolue -->
        <a href="#" class="linkedin linkedin-icon share_linkedin" data-url="{{ siteUrl }}{{ page.url }}">
          <img src="/images/ic/i-linkedin.png" alt="Partager sur LinkedIn">
          <span>Partager sur LinkedIn</span>
        </a>
      </div>
    </main>
  </div>

  <script>
    let startTime = Date.now();

    // Calcul de la durée de lecture
    window.addEventListener('beforeunload', function() {
      let timeSpent = Date.now() - startTime; // Temps en millisecondes
      let hasReachedEnd = (window.scrollY + window.innerHeight) >= document.body.scrollHeight; // Vérifie si l'utilisateur a scrollé jusqu'à la fin

      // Envoi des données au serveur
      fetch('/api/track-engagement', {
        method: 'POST',
        body: JSON.stringify({
          articleId: '{{ articleID }}',
          timeSpent: timeSpent,
          hasReachedEnd: hasReachedEnd
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
    });

    // Fonction pour centrer le popup de partage
    var popupCenter = function(url, title, width, height){
        var popupWidth = width || 640;
        var popupHeight = height || 320;
        var windowLeft = window.screenLeft || window.screenX;
        var windowTop = window.screenTop || window.screenY;
        var windowWidth = window.innerWidth || document.documentElement.clientWidth;
        var windowHeight = window.innerHeight || document.documentElement.clientHeight;
        var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2;
        var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
        var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
        popup.focus();
        return true;
    };

    // Partage sur LinkedIn avec URL absolue
    document.querySelector('.share_linkedin').addEventListener('click', function(e){
        e.preventDefault();
        var url = this.getAttribute('data-url');  // Obtenir l'URL absolue de l'article
        var articleTitle = encodeURIComponent('{{ title }}');  // Encoder le titre de l'article
        var articleTeaser = encodeURIComponent('{{ teaser }}');  // Encoder le teaser de l'article

        // Génération de l'URL de partage LinkedIn avec l'URL absolue de l'article
        var shareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(url)}&title=${articleTitle}&summary=${articleTeaser}`;

        popupCenter(shareUrl, "Partager sur LinkedIn");
    });
  </script>

{% endblock %}
