{% extends "base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="/styles/style.css">
<div class="container">
  <div class="extended">
    {% if lang == "en" %}
      <a href="/en/">Insights</a>
      <a href="/en/"> ← Go back...</a>
    {% else %}
      <a href="/">Insights</a>
      <a href="/"> ← Retour vers les autres articles</a>
    {% endif %}
  </div>

  <main id="article">
    <h1>{{ title }}</h1>
    {% if authors %}
      <div class="extended">
        Auteur : {{ authors }}
        <a href="/about/" class="no-hover-effect">
          <img src="/images/ic/i-networking.png" alt="Networking Icon" title="Networking Icon" style="width: 30px; height: auto;">
        </a>
        {% if date %}
          <div class="article-date">
            Publié le : {{ date | date("dd/MM/yyyy") }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {{ content | safe }}
    <br>

    <!-- Image based on language -->
    <img 
      src="{% if lang == 'en' %}/images/posts/en/{{ page.fileSlug }}.png{% else %}/images/posts/fr/{{ page.fileSlug }}.png{% endif %}" 
      alt="Article Image" />

    <div class="share-container">
      <a href="#" class="linkedin linkedin-icon share_linkedin" data-url="{{ siteUrl }}{{ page.url }}" data-teaser="{{ teaser }}" data-image="{% if lang == 'en' %}/images/posts/en/{{ page.fileSlug }}.png{% else %}/images/posts/fr/{{ page.fileSlug }}.png{% endif %}">
        <img src="/images/ic/i-linkedin.png" alt="Partager sur LinkedIn">
        <span>Article utile? Partager le sur LinkedIn</span>
      </a>
    </div>


    <p>
    <h3>Vos réactions, remarques, idées ...</h3>
    <!-- Ajout de Utterances pour les commentaires -->
    <script src="https://utteranc.es/client.js"
        repo="pejmang/Orbii-blog"
        issue-term="url"
        label="Orbii KM"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
    <!-- Fin du bloc de commentaires -->

  </main>
</div>

<script>
  let startTime = Date.now();
  window.addEventListener('beforeunload', function() {
    let timeSpent = Date.now() - startTime;
    let hasReachedEnd = (window.scrollY + window.innerHeight) >= document.body.scrollHeight;
    fetch('/api/track-engagement', {
      method: 'POST',
      body: JSON.stringify({
        articleId: '{{ articleID }}',
        timeSpent: timeSpent,
        hasReachedEnd: hasReachedEnd
      }),
      headers: {
        'Content-Type': 'application/json'
      }
    });
  });

  var popupCenter = function(url, title, width, height){
      var popupWidth = width || 640;
      var popupHeight = height || 320;
      var windowLeft = window.screenLeft || window.screenX;
      var windowTop = window.screenTop || window.screenY;
      var windowWidth = window.innerWidth || document.documentElement.clientWidth;
      var windowHeight = window.innerHeight || document.documentElement.clientHeight;
      var popupLeft = windowLeft + windowWidth / 2 - popupWidth / 2;
      var popupTop = windowTop + windowHeight / 2 - popupHeight / 2;
      var popup = window.open(url, title, 'scrollbars=yes, width=' + popupWidth + ', height=' + popupHeight + ', top=' + popupTop + ', left=' + popupLeft);
      popup.focus();
      return true;
  };

  document.querySelector('.share_linkedin').addEventListener('click', function(e){
      e.preventDefault();
      var url = this.getAttribute('data-url');
      var articleTitle = encodeURIComponent('{{ title }}');
      var articleTeaser = encodeURIComponent(this.getAttribute('data-teaser'));
      var articleImage = encodeURIComponent(this.getAttribute('data-image'));
      var shareUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${encodeURIComponent(url)}&title=${articleTitle}&summary=${articleTeaser}&source=www.orbii.fr&image=${articleImage}`;
      popupCenter(shareUrl, "Partager sur LinkedIn");
  });

</script>

{% endblock %}
