{% extends "base.njk" %}

{% block content %}


  <div class="container">

    <nav class="mono extended">
      <ul style="float: right;">
        <li><a href="/en/" {% if lang == "en" %}class="active"{% endif %}>en</a></li>
        <li><a href="/" {% if lang != "en" %}class="active"{% endif %}>fr</a></li>
      </ul>

      {% if lang == "en" %}
      <h1>ORBii, Your Ecosystem of Digital Transformation & AI</h1>
<h4 class="highlighted-heading"> 
  <span class="highlighted-word">Outstanding</span> 
  <span class="highlighted-word">Results</span> 
  <span class="highlighted-word">Begin with</span>
  <span class="highlighted-word">Inspired</span> 
  <span class="highlighted-word">Ideas</span>
</h4>


    <br>
      <ul>
        <li><a href="/en/ORBii" class="{% if page.url == '/en/ORBii/' %}active{% endif %}">ORBii Services</a></li>
        <li><a href="/en/" class="{% if page.url == '/en/' %}active{% endif %}">Insights</a></li>
        <li><a href="/en/premium" class="{% if page.url == '/en/book/' %}active{% endif %}">Premium Insights  </a></li>
        <li><a href="/en/9pillars" class="{% if page.url == '/en/9pillars/' %}active{% endif %}">9 Pillars</a></li>
        <li><a href="/en/book" class="{% if page.url == '/en/book/' %}active{% endif %}">Publication & Book</a></li>
      </ul>
      {% else %}
      <h1>ORBii, Votre Ecosystème de Transformation Digitale & d'IA</h1>
<h4 class="highlighted-heading"> 
  <span class="highlighted-word">Outstanding</span> 
  <span class="highlighted-word">Results</span> 
  <span class="highlighted-word">Begin with</span> 
  <span class="highlighted-word">Inspired</span> 
  <span class="highlighted-word">Ideas</span>
</h4>




      <br>
      <ul>
        <li><a href="/ORBii" class="{% if page.url == '/ORBii/' %}active{% endif %}">ORBii Services</a></li>
        <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Insights</a></li>
        <li><a href="/premium" class="{% if page.url == '/9pillars/' %}active{% endif %}"> Premium Insights</a></li>
        <li><a href="/9pillars" class="{% if page.url == '/9pillars/' %}active{% endif %}"> 9 piliers</a></li>
        <li><a href="/livre" class="{% if page.url == '/livre/' %}active{% endif %}">Publication &  livre</a></li>
      </ul>
      {% endif %}
    </nav>

    {% block site_content %}{% endblock %}
  </div>
{% endblock %}
