@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Raleway:wght@400;700&display=swap');

/* Font Definitions */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 100 900;
  src: url('fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 100 900;
  src: url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Body Styling */
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mono {
  font-family: 'Inconsolata', monospace;
}

/* Container Styling */
.container {
  max-width: 1200px; /* Adjust the maximum width */
  margin: 0 auto;
  padding: 0 20px; /* Ensure some padding inside the container */
}
/

/* Author Section */
.author {
  margin-bottom: 30px;
}

.author h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  color: #e74c3c;
  margin-bottom: 10px;
}

.author p {
  margin: 0;
  font-size: 1em;
  text-align: justify;
}

.author p span {
  font-weight: bold;
  color: #34495e;
}

/* Call to Action Box */
.call-to-action {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
}

.call-to-action h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.call-to-action p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.call-to-action a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.call-to-action a:hover {
  text-decoration: underline;
}

/* LinkedIn Icon Styling with Gradient Effect */
/* LinkedIn Icon Styling with Gradient Effect */
.linkedin-icon {
  display: inline-flex;  /* Passer de flex à inline-flex pour s'aligner sur le texte */
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  background: linear-gradient(90deg, #0e76a8, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
  border-bottom: none;  /* Retirer toute bordure ou ligne noire */
}

.linkedin-icon img {
  width: 30px;
  height: auto;
  margin-left: 5px;  /* Ajouter un espace entre le nom et l'icône */
  vertical-align: middle;  /* Aligner l'icône au centre par rapport au texte */
}

.linkedin-icon:hover {
  color: #0077b5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .extended, h1 {
    margin: 0 -100px;
  }

  .extended2 {
    margin: 0 -200px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Default Text Styling */
ol, ul, p {
  margin-top: 25px;
  font-size: 18px;
}

ol {
  padding-left: 25px;
}

ol li {
  padding-left: 20px;
  margin-bottom: 5px;
}

ol li::marker {
  font-weight: bold;
}

/* Specific Navigation Menu Styling */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  padding: 4px 4px;
}

nav ul li a.active {
  background: black;
  color: white;
  outline: 4px solid black !important;
  border-bottom: 0px;
  cursor: default;
  border-radius: 7px;
}

nav ul li a:hover {
  background-color: #e74c3c;
  color: white;
  border-bottom: none;
  border-radius: 7px;
  outline: 3px solid #e74c3c;
}

/* General Link Styling without the red hover effect */
a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid black;
}

a:hover {
  border-bottom: 3px solid #e74c3c;
  color: black; /* No background change */
  outline: none; /* No red outline */
  background-color: transparent; /* No background change */
}

.no-hover-effect {
  border-bottom: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}

.no-hover-effect:hover {
  border-bottom: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}

/* Post List Styling */
.post-list {
  margin-top: 25px;
  padding-left: 0;
  text-align: left;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

/* Extended Image Styling */
.extended img {
  width: 100%;
}

/* Small Text */
.small-text {
  font-size: 0.8em;
  line-height: 1.4;
}

/* Blockquotes */
blockquote {
  border-left: 10px solid black;
  padding-left: 15px;
  font-style: italic;
  color: #555;
  margin: 20px 0;
}

/* Pillar Section */
.pillar-sect {
  margin-top: 50px;
}

.pillar-sect p {
  margin-top: 0px;
}

/* Flexbox for Columns */
.flex-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
}

.column-left {
  width: 55%;
}

.column-right {
  width: 35%;
  text-align: center;
}

/* Company Name Styling */
#company-name {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Pillar Title */
.pillar-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 36px;
  margin-right: 20px;
  font-family: 'Playfair Display', serif;
  white-space: nowrap;
}

.pillar-title::first-letter {
  color: #e74c3c;
  font-size: 1.5em;
  font-weight: bold;
}

/* Pillar Container and Content */
.pillar-container {
  display: flex;
  align-items: flex-start;
  margin-left: -20px;
  margin-top: 20px;
  max-width: 100%;
  padding-left: 0;
}

.pillar-content {
  max-width: 90%;
  flex-grow: 1;
  margin-left: 0;
  padding-left: 10px;
}

/* Full-width Columns for Mobile */
.column-left, .column-right {
  width: 100%;
}

/* Responsive for Small Screens */
@media (max-width: 768px) {
  .pillar-container {
    padding: 0 5px;
    flex-direction: column;
    align-items: flex-start;
  }

  .pillar-title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 24px;
    margin-right: 0;
  }

  .pillar-content {
    padding: 0;
  }

  .post-list {
    padding-left: 0;
    text-align: left;
    margin-bottom: 15px;
  }

  nav ul {
    flex-direction: column;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .extended, .extended2 {
    margin: 0;
  }

  .pillar-content, .column-left, .column-right {
    padding-left: 0;
    margin-left: 0;
  }

  .flex-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .column-left, .column-right {
    width: 100%;
  }
}

/* Footer Styling */
.footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
  font-size: 14px;
  color: #0c0101d8;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Footer Links */
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  margin: 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: #000080;
}

.footer-info {
  font-size: 14px;
  color: #333;
  text-align: center;
}

/* Image Styling */
img {
  max-width: 100%;
  height: auto;
}

/* Icon Styling */
.icon {
  margin-left: 8px;
  margin-right: 8px;
  vertical-align: middle;
  color: red;
}

.icon-link:hover .icon {
  color: blue;
}

.icon-link:hover {
  text-decoration: none;
}

.no-hover-effect:hover .icon {
  background-color: transparent;
  text-decoration: none;
}

/* Emoji Styling */
.emoji {
  font-size: 24px;
  margin-left: 8px;
}

/* Google Smart Icon */
.icon-google-smart {
  font-size: 28px;
  color: #00bcd4;
  vertical-align: middle;
  margin-left: 8px;
  transition: transform 0.5s ease, color 0.3s ease;
}

.icon-google-smart:hover {
  color: #0dc0f5;
  transform: scale(1.2);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-google-smart:hover {
  animation: rotate 1s linear infinite;
}

.no-hover-effect .icon-google-smart {
  outline: none;
}

.no-hover-effect:hover .icon-google-smart {
  outline: none;
  box-shadow: none;
}

/* Share Buttons */
.share-buttons {
  margin-top: 20px;
}

.share-buttons p {
  font-weight: bold;
}

.share-buttons a {
  display: inline-block;
  margin-right: 10px;
}

.share-buttons img {
  width: 32px;
  height: 32px;
}

/* Social Sharing Buttons */
.share-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre le texte "Partagez cet article" et les icônes */
  margin-top: 0; /* Élimine l'espace supérieur */
}

.share-container h3 {
  margin-right: 10px; /* Espace entre le titre et les icônes de partage */
}


.share-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s ease;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.share-container a svg {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.share-container a:hover {
  background-color: #f0f0f0;
  color: #1da1f2;
}

.share-container .linkedin-icon:hover {
  color: #0077b5;
}

.share-container a:hover svg {
  fill: currentColor;
}

.share-container a span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.share-container a.twitter:hover {
  color: #1da1f2;
}

.share-container a.linkedin:hover {
  color: #0077b5;
}

.share-container a {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.share-container a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.flag-icon {
  width: 20px;  /* Ajustez la taille de l'icône ou de l'image */
  height: auto;
  margin-left: 8px;  /* Espace entre le titre et l'icône */
  vertical-align: middle;  /* Aligne l'icône avec le texte */
}

.small-book-image {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

/* --- New Styles for Index Page --- */

/* Post Grid Layout */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Diminue la largeur minimale des colonnes */
  gap: 10px; /* Réduit l'espace entre les cartes */
}

.post-card-link {
  text-decoration: none;
  color: inherit;
}

/* Post Card Layout */
.post-card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  min-height: 250px;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



.post-icon {
  max-width: 35px;
}

/* Post Content Styling */
.post-content {
  text-align: center;
}

.post-title {
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  color: #2c3e50;
  margin-bottom: 6px;
}

.post-teaser {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 6em;
}

.post-meta {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }
}

.recommend-flag {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #666;
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 10px;
}

.recommend-flag svg {
  width: 20px; /* Ajustez la taille de l'icône */
  height: 20px;
  fill: #666; /* Couleur par défaut */
  transition: fill 0.3s ease, transform 0.3s ease;
}

.recommend-flag:hover {
  color: #007BFF;
}

.recommend-flag:hover svg {
  fill: #007BFF; /* Change la couleur de l'icône au survol */
  transform: scale(1.2); /* Agrandit légèrement l'icône au survol */
}

.recommend-count {
  margin-right: 5px;
  font-weight: bold;
}

/* Post Content */
.post-content {
  text-align: center;
  flex-grow: 1;
}

.post-title {
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  color: #2c3e50;
  margin-bottom: 6px; /* Réduit l'espace sous le titre */
  text-decoration: none;
}

.post-teaser {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Augmente le nombre maximum de lignes avant coupure */
  -webkit-box-orient: vertical;
  max-height: 6em; /* Augmente la hauteur maximale pour s'assurer qu'il reste 4 lignes */
}

/* Suppression de la date */
.post-meta {
  display: none; /* Cache les métadonnées, y compris la date */
}

/* Responsive Design for Post Grid */
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }

  .post-card {
    min-height: auto;
  }
}
.article-recommendation {
  display: flex;
  align-items: center;
  gap: 10px; /* Espace entre le texte et le bouton */
  margin-bottom: 5px; /* Réduit l'espace sous la première phrase */
}


.recommend-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.recommend-button img {
  margin-right: 5px; /* Espace entre l'icône et le compteur */
}

.recommendation-text {
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(90deg, #0e76a8, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recommend-count {
  font-weight: bold;
  color: #333;
}

.language-icon {
  position: absolute;
  top: 10px;  /* Position the icon at the top */
  right: 10px;  /* Align the icon to the right */
  width: 25px;  /* Adjust the size of the flag icon */
  height: auto;
}

/* Refined Ribbon Style */
.ribbon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007BFF;
  color: white;
  font-size: 0.8em;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: 600;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
}



/* Hover Effect: Replace "EN" with an icon */
.ribbon:hover::before {
  content: url('/images/ic/i-langue.png'); /* Replace "EN" with the language icon */
  padding: 0;
}

.ribbon:hover {
  background-color: #0056b3;
  transform: scale(1);
}

