@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Raleway:wght@400;700&display=swap');

/* Font Definitions */
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 100 900;
  src: url('fonts/EBGaramond-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 100 900;
  src: url('fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Body Styling */
body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mono {
  font-family: 'Inconsolata', monospace;
}

/* Container Styling */
.container {
  max-width: 1200px; /* Adjust the maximum width */
  margin: 0 auto;
  padding: 0 20px; /* Ensure some padding inside the container */
}

/* Author Section */
.author {
  margin-bottom: 30px;
}

.author h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.8em;
  color: #e74c3c;
  margin-bottom: 10px;
}

.author p {
  margin: 0;
  font-size: 1em;
  text-align: justify;
}

.author p span {
  font-weight: bold;
  color: #34495e;
}

/* Call to Action Box */
.call-to-action {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
}

.call-to-action h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.call-to-action p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.call-to-action a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

.call-to-action a:hover {
  text-decoration: underline;
}

/* LinkedIn Icon Styling with Gradient Effect */
.linkedin-icon {
  display: inline-flex;  /* Align with text */
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  background: linear-gradient(90deg, #0e76a8, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 0.3s ease;
  border-bottom: none;  /* Remove any border */
}

.linkedin-icon img {
  width: 30px;
  height: auto;
  margin-left: 5px;  /* Space between name and icon */
  vertical-align: middle;  /* Center the icon with text */
}

.linkedin-icon:hover {
  color: #0077b5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .extended, h1 {
    margin: 0 -100px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Default Text Styling */
ol, ul, p {
  margin-top: 25px;
  font-size: 18px;
}

ol {
  padding-left: 25px;
}

ol li {
  padding-left: 20px;
  margin-bottom: 5px;
}

ol li::marker {
  font-weight: bold;
}

/* Specific Navigation Menu Styling */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  padding: 4px 4px;
}

nav ul li a.active {
  background: black;
  color: white;
  outline: 4px solid black !important;
  border-bottom: 0px;
  cursor: default;
  border-radius: 7px;
}

nav ul li a:hover {
  background-color: #e74c3c;
  color: white;
  border-bottom: none;
  border-radius: 7px;
  outline: 3px solid #e74c3c;
}

/* General Link Styling without the red hover effect */
a {
  color: black;
  text-decoration: none;
  border-bottom: 3px solid black;
}

a:hover {
  border-bottom: 3px solid #e74c3c;
  color: black; /* No background change */
  outline: none; /* No red outline */
  background-color: transparent; /* No background change */
}

.no-hover-effect {
  border-bottom: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}

.no-hover-effect:hover {
  border-bottom: none;
  background-color: transparent;
  color: inherit;
  outline: none;
}

/* Post List Styling */
.post-list {
  margin-top: 25px;
  padding-left: 0;
  text-align: left;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

.bold-first-letter::first-letter {
  font-weight: bold;
  font-size: 1.2em; 
}

/* Extended Image Styling */
.extended img {
  width: 100%;
}

/* Small Text */
.small-text {
  font-size: 0.8em;
  line-height: 1.4;
}

/* Pillar Section */
.pillar-sect {
  margin-top: 50px;
}

.pillar-sect p {
  margin-top: 0px;
}

/* Flexbox for Columns */
.flex-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 20px;
}

.column-left {
  width: 55%;
}

.column-right {
  width: 35%;
  text-align: center;
}

/* Pillar Title */
.pillar-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 36px;
  margin-right: 20px;
  font-family: 'Playfair Display', serif;
  white-space: nowrap;
}

.pillar-title::first-letter {
  color: #e74c3c;
  font-size: 1.5em;
  font-weight: bold;
}

/* Pillar Container and Content */
.pillar-container {
  display: flex;
  align-items: flex-start;
  margin-left: -20px;
  margin-top: 20px;
  max-width: 100%;
  padding-left: 0;
}

.pillar-content {
  max-width: 90%;
  flex-grow: 1;
  margin-left: 0;
  padding-left: 10px;
}

/* Full-width Columns for Mobile */
.column-left, .column-right {
  width: 100%;
}

/* Responsive for Small Screens */
@media (max-width: 768px) {
  .pillar-container {
    padding: 0 5px;
    flex-direction: column;
    align-items: flex-start;
  }

  .pillar-title {
    writing-mode: horizontal-tb;
    transform: none;
    font-size: 24px;
    margin-right: 0;
  }

  .pillar-content {
    padding: 0;
  }

  .post-list {
    padding-left: 0;
    text-align: left;
    margin-bottom: 15px;
  }

  nav ul {
    flex-direction: column;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .extended {
    margin: 0;
  }

  .pillar-content, .column-left, .column-right {
    padding-left: 0;
    margin-left: 0;
  }

  .flex-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .column-left, .column-right {
    width: 100%;
  }
}

/* Footer Styling */
.footer-info p {
  margin: 0;
}

.footer-info .motto {
  margin-top: 5px; /* Adjust as needed */
  font-size: 12px;
  font-style: italic;
  color: #777; /* Adjust as per your design */
}

.footer {
  background-color: #f9f9f9;
  padding: 40px 20px;
  font-size: 14px;
  color: #0c0101d8;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Footer Links */
.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-links ul li {
  margin: 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.footer-links ul li a:hover {
  color: #000080;
}

.footer-info {
  font-size: 14px;
  color: #333;
  text-align: center;
}

/* Image Styling */
img {
  max-width: 100%;
  height: auto;
}

/* Google Smart Icon */
.icon-google-smart {
  font-size: 28px;
  color: #00bcd4;
  vertical-align: middle;
  margin-left: 8px;
  transition: transform 0.5s ease, color 0.3s ease;
}

.icon-google-smart:hover {
  color: #0dc0f5;
  transform: scale(1.2);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.no-hover-effect .icon-google-smart {
  outline: none;
}

.no-hover-effect:hover .icon-google-smart {
  outline: none;
  box-shadow: none;
}

/* Share Buttons */
.share-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between text and icons */
  margin-top: 0; /* Remove top space */
}

.share-container h3 {
  margin-right: 10px; /* Space between title and share icons */
}

.share-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1em;
  font-weight: 500;
  transition: color 0.3s ease;
  border: none;
  padding: 8px;
  border-radius: 5px;
  background-color: transparent;
}

.share-container a svg {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.share-container a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #1da1f2;
}

.share-container .linkedin-icon:hover {
  color: #0077b5;
}

.share-container a:hover svg {
  fill: currentColor;
}

.share-container a span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.share-container a.twitter:hover {
  color: #1da1f2;
}

.share-container a.linkedin:hover {
  color: #0077b5;
}

/* Post Grid Layout */
.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Decrease minimum column width */
  gap: 10px; /* Reduce space between cards */
}

.post-card-link {
  text-decoration: none;
  color: inherit;
}

/* Post Card Layout */
.post-card {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  min-height: 250px;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.post-icon {
  max-width: 35px;
}

/* Post Content Styling */
.post-content {
  text-align: center;
  flex-grow: 1;
}

.post-title {
  font-size: 1.2rem;
  font-family: 'Playfair Display', serif;
  color: #2c3e50;
  margin-bottom: 6px; /* Reduce space below title */
  text-decoration: none;
}

.post-teaser {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Increase max lines before cutoff */
  -webkit-box-orient: vertical;
  max-height: 6em; /* Ensure it remains 4 lines */
}

/* Suppression de la date */
.post-meta {
  display: none; /* Hide metadata, including date */
}

/* Responsive Design for Post Grid */
@media (max-width: 768px) {
  .posts-grid {
    grid-template-columns: 1fr;
  }

  .post-card {
    min-height: auto;
  }
}

/* Recommendation Styles */
.recommend-count {
  margin-right: 5px;
  font-weight: bold;
}

/* Ribbon Style */
.ribbon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #007BFF;
  color: white;
  font-size: 0.8em;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: 600;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.ribbon:hover::before {
  content: url('/images/ic/i-langue.png'); /* Replace "EN" with the language icon */
  padding: 0;
}

.ribbon:hover {
  background-color: #0056b3;
  transform: scale(1);
}

.language-icon {
  position: absolute;
  top: 10px;  /* Position the icon at the top */
  right: 10px;  /* Align the icon to the right */
  width: 25px;  /* Adjust the size of the flag icon */
  height: auto;
}

/* Teaser Box Styles (if used in future) */
/* .teaser-box {
  background: #f9f9f9;
  border-left: 4px solid #007ACC; /* Accent color */
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  font-style: italic;
  font-size: 0.95rem; /* Slightly smaller than the body */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.teaser-box p {
  font-size: 1.1rem;
  font-style: italic;
  color: #333;
}

@media (max-width: 768px) {
  .teaser-box {
    font-size: 0.85rem;
    padding: 15px;
  }
} */

/* Testimonials */
.testimonial {
  margin-bottom: 40px; /* Space between testimonials */
  padding: 20px;
  border-bottom: 1px solid #ddd; /* Separator line */
}

.testimonial h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.testimonial p {
  font-style: italic;
  color: #555;
}

.testimonial-source {
  font-weight: bold;
  margin-bottom: 10px; /* Space between author name and testimonial */
}

.testimonial-quote {
  margin-bottom: 20px; /* Space after each testimonial */
}

/* Purchase Links */
.purchase-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.purchase-links ul li {
  margin-bottom: 0.5em;
}

.purchase-links a {
  color: #0073e6;
  text-decoration: none;
}

.purchase-links a:hover {
  text-decoration: underline;
}

/* Floating Box Styles (if used in future) */
/* .floating-box {
  position: fixed;
  top: 100px; /* Initial position from the top */
  right: 20px; /* Distance from the right side */
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 0.9em;
  overflow-y: auto;
  max-height: 400px; /* Limit height if much content */
  z-index: 1000; /* Ensure it's always on top */
}

.floating-box h3 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.floating-box p {
  margin-bottom: 10px;
  font-style: italic;
} */

/* Modal Styles (if used in future) */
/* .modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-btn {
  background-color: #0073e6;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.popup-btn:hover {
  background-color: #005bb5;
}

.btn {
  display: inline-block;
  background-color: #0073e6;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background-color: #005bb5;
} */

/* Form Styling */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #0073e6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #005bb5;
}

/* Success and Error Messages */
.success-message {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: none; /* Hidden by default */
  text-align: center;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  display: none; /* Hidden by default */
  text-align: center;
}

/* Image Container */
.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

/* Book Slider */
.book-slider {
  position: fixed;
  right: -300px;
  top: 50%;
  transform: translateY(-50%);
  width: 250px;
  transition: right 0.3s ease-in-out;
}

.book-slider.visible {
  right: 0;
}

.book-cover {
  width: 100%;
}

.book-info {
  background-color: #f4f4f4;
  padding: 10px;
}

/* Giscus Comments */
.giscus-comments {
  display: block;
  min-height: 400px;
  width: 100%;
}
/* Highlighted Heading Styling */
.highlighted-heading {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Ajustez l'espace entre les mots */
  justify-content: left; /* Centrer la phrase */
  margin-top: 10px;
}

.highlighted-word::first-letter {
  font-weight: bold;
  font-size: 1.2em;
  color: #1190eb; /* Couleur différente pour la première lettre */
  transition: color 0.3s ease, transform 0.3s ease;
}

.highlighted-word:hover::first-letter {
  color: #3498db; /* Changement de couleur au survol */
  transform: scale(1.1); /* Légère augmentation de taille au survol */
}
/* Propose Article Page Styling */
.propose-article-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 40px auto;
}

.propose-article-container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.propose-article-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
  text-align: center;
}

.propose-article-container form {
  display: flex;
  flex-direction: column;
}

.propose-article-container label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.propose-article-container input[type="text"],
.propose-article-container input[type="email"],
.propose-article-container textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.propose-article-container input[type="submit"] {
  background-color: #0073e6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.propose-article-container input[type="submit"]:hover {
  background-color: #005bb5;
}

/* Success and Error Messages */
.success-message,
.error-message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  display: none; /* Hidden by default */
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  display: none; /* Hidden by default */
}
/* Licence Information Styling */
.licence-info {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  font-size: 0.9em;
  color: #555;
}

.licence-info a {
  color: #0073e6;
  text-decoration: none;
}

.licence-info a:hover {
  text-decoration: underline;
}
table {
  border: 2px solid rgb(10, 124, 230);
  border-collapse: collapse;
}

td, th {
  border: 1px solid rgb(197, 190, 190);
  padding: 8px;
}

/* Top Navigation Styling */
.top-container {
  background-color: white;
  padding: 20px 40px;
  border-bottom: 2px solid #f4f4f4;
}

.site-header {
  text-align: center;
  margin-bottom: 20px;
}

.site-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  color: #2c3e50;
}

.site-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #555;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.navigation-menu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  padding: 10px 15px;
  font-weight: 500;
}

.navigation-menu ul li a.active {
  background: black;
  color: white;
  border-radius: 5px;
}

.navigation-menu ul li a:hover {
  background: #e74c3c;
  color: white;
}

.language-selector {
  display: flex;
  gap: 10px;
}

.lang-btn {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}

.lang-btn.active {
  background: black;
  color: white;
}

/* Whitepaper Section */
.whitepaper-container {
  max-width: 2000px;
  margin: 20px auto;
  padding: 40px;
  background-color: #004F9E;
  color: #fff;
  border-radius: 8px;
}

/* Header Section */
.whitepaper-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.header-left {
  flex: 1.6;
}

.header-right {
  flex: 1;
}

.whitepaper-category {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.whitepaper-date {
  font-size: 0.8rem;
  color: #d1e4ff;
  margin-bottom: 5px;
}

.whitepaper-title {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.0;
  margin: 20px 0;
    color: #d1e4ff;

}

.whitepaper-description {
  font-size: 1.0rem;
  line-height: 1.2;
  margin-bottom: 15px;
  
}

.download-btn {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #0056b3;
}

.header-right img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Social Media Links */
.social-links {
  margin-top: 30px;
  display: flex;
  justify-content: left;
  gap: 15px;
}

.social-icon {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  background-color: #0056b3;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #003e7e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .whitepaper-header {
    flex-direction: column;
    text-align: center;
  }

  .header-right img {
    margin-top: 20px;
    max-width: 0%;
  }
}
/* Styling for Contributors Box */
.contributors-box {
  margin-top: 15px;
  padding: 15px;
  background-color: #0e4b8c; /* Une couleur légèrement plus sombre que le fond principal */
  border-radius: 8px;
  color: #E8E8E8; /* Texte clair */
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contributors-box h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f1f0f6; /* Contraste avec le fond sombre */
}

.contributors-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contributors-box li {
  font-size: 0.8rem;
  line-height: 1.2;
}
/* Styling for Tabs Container */
.premium-insights-tabs {
  margin: 30px auto;
  max-width: 900px;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
}

/* Tabs Menu */
.tabs-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 2px solid #ddd;
}

.tabs-menu li {
  font-size: 1rem;
  color: #004F9E;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
}

.tabs-menu li.active-tab {
  background: #004F9E;
  color: white;
  border-radius: 8px;
}

.tabs-menu li:hover {
  background: #003366;
  color: white;
}

/* Content of Tabs */
.tabs-content {
  margin-top: 20px;
}

.tab-content {
  display: none;
  padding: 15px;
  background: #2120248a;
  border-radius: 8px;
}

.tab-content.active-content {
  display: block;
}
.tabs {
  margin: 20px 0;
}

.tab-links {
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
  display: flex;
  border-bottom: 2px solid #ddd;
}

.tab-links li {
  margin-right: 10px;
}

.tab-links a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  display: block;
}

.tab-links .active a {
  background: #fff;
  color: #333;
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

.tab-content .tab {
  display: none;
  border: 1px solid #ddd;
  padding: 15px;
  background: #fff;
  border-radius: 0 0 5px 5px;
}

.tab-content .active {
  display: block;
}

.founder-image {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}



