---
pillar: "strategie"
title: "Stratégie"
description: "Une orientation stratégique résolument tournée vers l’innovation, en particulier dans le domaine des nouvelles technologies et du numérique, tout en considérant les enjeux de souveraineté, de dépendance économique et les défis ESG. La stratégie doit aussi être vivante, constamment réévaluée et ajustée pour capter les meilleures opportunités tout en atténuant les risques. L'IA devient un levier clé de cette stratégie, permettant de maximiser les performances tout en restant agile et adaptable."
---
{% extends "pillarbase.njk" %}
