---
pillar: "talents"
title: "Talents"
description: "Une organisation qui accompagne ses talents, valorise l’excellence en cultivant la diversité et en favorisant l’autonomie, la responsabilisation et la formation continue."
---
{% extends "pillarbase.njk" %}