---
pillar: "tech"
title: "Tech"
description: "La technologie comme catalyseur clé pour la transformation de l’organisation, avec la plateformisation, le cloud, l’open source, la cybersécurité et l’intégration des pratiques de gestion opérationnelles."
---
{% extends "pillarbase.njk" %}
