---
pillar: "velocite"
title: "Vélocité"
description: "L’agilité, la résilience et la rapidité d’exécution afin de s’adapter dans les meilleures conditions et délais à son écosystème."
---
{% extends "pillarbase.njk" %}