{% extends "sitebase.njk" %}

{% block title %}Videos{% endblock %}

{% block site_content %}
  <h2>Videos & Podcasts</h2>
  <p>
    Welcome to the dedicated space for videos, podcasts, and interviews surrounding our book. Dive into the ideas shaping tomorrow’s high-performing companies. Whether you’re looking for deep insights on digital transformation, artificial intelligence, or the nine pillars that structure the success of modern organizations, this page offers a comprehensive immersion into discussions and analyses that extend and enrich the reading of our work.
  </p>
  <p>
    Discover exclusive interviews with the authors, inspiring conversations with thought leaders, and captivating podcasts that break down the strategies of companies dominating and reinventing their markets. Each of these resources has been carefully curated to provide fresh perspectives and practical insights, going beyond the pages of the book to deepen your understanding of the dynamics driving the digital revolution and the AI era.
  </p>


{% endblock %}
