{% extends "sitebase.njk" %}

{% block title %}The 9 Pillars{% endblock %}

{% block site_content %}
  <h2>The 9 Pillars of Digital Transformation</h2>
  <p>Since 2022, nine essential pillars have emerged as crucial for high-performing organizations, whether they are digitally native or undergoing transformation. In a world redefined by artificial intelligence (AI), these pillars are vital for companies seeking to thrive.</p>

  <p>Digital transformation, amplified by AI, is reshaping how value is created, delivered, and captured. Successful companies use AI as a catalyst, integrating each pillar to ensure resilience and adaptability in the face of rapid market shifts.</p>

  <h2>The Importance of the 9 Pillars</h2>
  <p>In the AI era, each pillar must be optimized to leverage its capabilities. Success depends on a holistic approach, where interconnected technologies enhance decision-making, streamline operations, and improve customer experience. This synergy enables companies to quickly adapt while minimizing risks.</p>

  <!-- Layout in columns -->
  <div class="flex-container">
    <!-- Left column for the list of 9 pillars -->
    <div class="column-left">
      <ul>
        <li><strong>Culture:</strong> <span class="small-text">The DNA of continuous innovation</span></li>
        <li><strong>Strategy:</strong> <span class="small-text">A strategy rooted in disruptive innovation</span></li>
        <li><strong>Makers:</strong> <span class="small-text">Visionary and experienced leaders</span></li>
        <li><strong>Talent:</strong> <span class="small-text">The architects of transformation</span></li>
        <li><strong>Customers:</strong> <span class="small-text">Obsessed with customer centricity</span></li>
        <li><strong>Data & AI:</strong> <span class="small-text">The brain of the company</span></li>
        <li><strong>Tech:</strong> <span class="small-text">Technology driving transformation</span></li>
        <li><strong>Decisions:</strong> <span class="small-text">AI-powered decision-making</span></li>
        <li><strong>Velocity:</strong> <span class="small-text">Agility in execution in the AI era</span></li>
      </ul>
    </div>

    <!-- Right column to include dynamic graphic -->
    <div class="column-right">
      {% include "src/graphics.njk" %}
    </div>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/culture/">Culture</a>
      <a href="/en/pillar/culture/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      A high-performing organization's culture is the DNA of innovation and resilience. It fosters agility and cognitive flexibility, rapidly integrating new technologies...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/strategy/">Strategy</a>
      <a href="/en/pillar/strategy/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      Successful organizations anticipate trends, shape innovation, and redefine the rules of the game. They integrate AI to maximize performance and remain agile in the face of emerging opportunities...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/makers/">Makers</a>
      <a href="/en/pillar/makers/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      "Makers" are leaders who combine strategic vision with innovation. Their deep understanding of the market and technologies creates an environment conducive to experimentation and rapid execution...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/talents/">Talent</a>
      <a href="/en/pillar/talents/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      Talent is essential to transformation. These companies attract and develop individuals who can master cutting-edge technologies while fostering a culture of learning and innovation...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/customers/">Customers</a>
      <a href="/en/pillar/customers/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      High-performing companies place the customer at the heart of their strategy. Leveraging data and AI, they anticipate needs, personalize interactions, and consistently exceed expectations...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/data/">Data & AI</a>
      <a href="/en/pillar/data/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      Mastery of data and AI turns insights into actionable outcomes. Companies innovate faster, streamline processes, and make more informed decisions...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/tech/">Tech</a>
      <a href="/en/pillar/tech/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      Technology is the central lever that enables agility and innovation. Companies adopt flexible infrastructures and strengthen their cybersecurity to protect strategic data...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/decisions/">Decisions</a>
      <a href="/en/pillar/decisions/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      AI-powered decisions enable companies to respond quickly to changes and seize opportunities. This enhances their ability to navigate complex environments...
    </p>
  </div>

  <div class="pillar-sect">
    <h2 class="pillar-header">
      <a href="/en/pillar/velocity/">Velocity</a>
      <a href="/en/pillar/velocity/" class="no-hover-effect">
        <span class="material-icons icon-google-smart">
          play_circle_outline
        </span>
      </a>
    </h2>
    <p>
      Velocity is critical to innovating rapidly and adapting to crises. High-performing companies develop products faster and stay ahead by leveraging the synergy of the other pillars...
    </p>
  </div>

{% endblock %}
