{% extends "sitebase.njk" %}

{% block title %}ORBii: Your Advisory Partner in Digital Transformation and Artificial Intelligence{% endblock %}

{% block site_content %}

<section class="founder-section">
 <br> <img src="/images/Pejman.jpeg" alt="Pejman Gohari" class="founder-image"/>
  <h2> Pejman Gohari</h2>
  <p>
Pejman Gohari,founder of ORBii, brings over two decades of expertise in <strong>IT and it's governance, Data & AI, cybersecurity, and digital transformation</strong>. 
  <br> He has held strategic roles such as Deputy CIO, CDO, CISO, at leading organizations including KPMG, Bpifrance, Société Générale.
 His leadership is marked by the successful deployment of operational strategies, agile management, and fostering innovation. 
 Pejman's commitment to translating strategic visions into tangible results has consistently driven excellence and transformation in complex, international environments.
  </p>


<div class="book">
<h3>Differents publications in this website, including books : The New Horizon of Digital Transformation - 2nd Edition</h3>
      <p><strong>Subtitle:</strong> Focus on Data, the Path to AI</p>
      <p><strong>Publication Date:</strong> September 2024</p>
      <p><strong>Publisher:</strong> Dunod</p>

   <a href="https://www.dunod.com/entreprise-et-economie/nouvel-horizon-transformation-digitale-focus-sur-donnees-cap-vers-ia" target="_blank">
      <img src="/images/livre2.jpeg" alt="The New Horizon of Digital Transformation - Book 2" class="small-book-image">
    </a>
  </div>

</section>

{% endblock %}
