{% extends "sitebase.njk" %}

{% block title %}les 9 piliers{% endblock %}

{% block site_content %}
  <h2>9 piliers de la transformation digitale</h2>
  <p>Depuis 2022, neuf piliers essentiels se révèlent indispensables aux organisations performantes, qu'elles soient nativement numériques ou en pleine transformation. Dans un monde redéfini par l'intelligence artificielle (IA), ces piliers sont cruciaux pour les entreprises cherchant à prospérer.</p>

  <p>La transformation digitale, amplifiée par l'IA, bouleverse la création, la délivrance et la capture de valeur. Les entreprises qui réussissent utilisent l'IA comme catalyseur, intégrant chaque pilier pour assurer robustesse et adaptabilité face aux évolutions rapides du marché.</p>

  <h2>L'importance des 9 piliers</h2>
  <p>À l'ère de l'IA, chaque pilier doit être optimisé pour intégrer ses capacités. Le succès repose sur une approche holistique, où technologies interconnectées amplifient les capacités décisionnelles, optimisent les opérations et améliorent l'expérience client. Cette synergie permet aux entreprises de s'adapter rapidement tout en minimisant les risques.</p>

  <!-- Utilisation d'une mise en page en colonnes -->
  <div class="flex-container">
    <!-- Colonne gauche pour la liste des 9 piliers -->
    <div class="column-left">
      <ul>
        <li><strong>Culture :</strong> ADN de l'innovation continue</li>
        <li><strong>Stratégie :</strong> Une stratégie d'innovation disruptive</li>
        <li><strong>Makers :</strong> Des leaders visionnaires et expérimentés</li>
        <li><strong>Talents :</strong> Les architectes de la transformation</li>
        <li><strong>Clients :</strong> Obsession de la centricité client</li>
        <li><strong>Data & IA :</strong> Le cerveau de l'entreprise</li>
        <li><strong>Tech :</strong> Technologie au service de la transformation</li>
        <li><strong>Décisions :</strong> Des décisions éclairées par l'IA</li>
        <li><strong>Vélocité :</strong> Agilité d'exécution à l'ère de l'IA</li>
      </ul>
    </div>

    <!-- Colonne droite pour inclure le graphique dynamique -->
    <div class="column-right">
      {% include "src/graphics.njk" %}
    </div>
  </div>

<div class="pillar-sect">
  <h2><a href="/pillar/culture/">Culture</a></h2>
  <p>
    La culture d'une organisation performante est l'ADN de l'innovation et de la résilience. Elle favorise l'agilité et la flexibilité cognitive, en intégrant rapidement les nouvelles technologies...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/strategie/">Stratégie</a></h2>
  <p>
    Les organisations performantes anticipent les tendances, façonnent l'innovation et redéfinissent les règles du jeu. Elles intègrent l'IA pour maximiser les performances et rester agiles face aux opportunités...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/makers/">Makers</a></h2>
  <p>
    Les "makers" sont des leaders qui allient vision stratégique et innovation. Leur compréhension du marché et des technologies façonne un environnement propice à l'expérimentation et à l'exécution rapide...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/talents/">Talents</a></h2>
  <p>
    Les talents sont essentiels à la transformation. Ces entreprises attirent et forment des talents capables de maîtriser les technologies de pointe tout en favorisant l'apprentissage et l'innovation...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/clients/">Clients</a></h2>
  <p>
    Les entreprises performantes placent le client au cœur de leur stratégie. Grâce aux données et à l'IA, elles anticipent les besoins, personnalisent les interactions et surpassent constamment les attentes...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/data/">Data & IA</a></h2>
  <p>
    La maîtrise des données et de l'IA transforme les informations en actions concrètes. Les entreprises innovent plus rapidement, optimisent les processus et prennent des décisions éclairées...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/tech/">Tech</a></h2>
  <p>
    La technologie est le levier central qui permet l'agilité et l'innovation. Les entreprises adoptent des infrastructures flexibles et renforcent leur cybersécurité pour protéger leurs données stratégiques...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/decisions/">Décisions</a></h2>
  <p>
    Les décisions éclairées par l'IA permettent aux entreprises de réagir rapidement aux changements et d'anticiper les opportunités. Cela améliore leur capacité à naviguer dans des environnements complexes...
  </p>
</div>

<div class="pillar-sect">
  <h2><a href="/pillar/velocite/">Vélocité</a></h2>
  <p>
    La vélocité est essentielle pour innover rapidement et s'adapter aux crises. Les entreprises performantes développent des produits plus vite et restent en avance grâce à la synergie des autres piliers...
  </p>
</div>



{% endblock %}
