{% extends "sitebase.njk" %}

{% block title %}About{% endblock %}

{% block site_content %}
  <h2>Quelques infos à propos des auteurs des contenus de ce blog :</h2>

  <div class="container">

    <div class="author">
      <h2>
        <span>Pejman Gohari</span>
        <a class="linkedin-icon" href="https://www.linkedin.com/in/pejmangohari" target="_blank" aria-label="Pejman Gohari LinkedIn">
          <img src="/images/ic/i-linkedin.png" alt="LinkedIn Pejman Gohari" />
        </a>
      </h2>
      <p>
        <span>Former CDAO, fondateur de start-up, conférencier</span>. Directeur data & IA, fondateur de start-up et conférencier, Pejman Gohari a mené des programmes de transformation au sein d'institutions telles que BpiFrance, Société Générale et KPMG. Ancien de l’INRIA et expert sur les sujets cybersécurité, data et IA, il conseille sur les changements systémiques et stratégiques...
      </p>
    </div>

    <div class="author">
      <h2>
        <span>Nouamane Cherkaoui</span>
        <a class="linkedin-icon" href="https://www.linkedin.com/in/nouamane-cherkaoui-4804228/" target="_blank" aria-label="Nouamane Cherkaoui LinkedIn">
          <img src="/images/ic/i-linkedin.png" alt="LinkedIn Nouamane Cherkaoui" />
        </a>
      </h2>
      <p>
        <span>Directeur général adjoint de BPCE SI, et directeur de la transformation</span>. Acteur de la transformation digitale, Nouamane Cherkaoui a dirigé des projets technologiques et data au sein de grands groupes tels que BPCE, Société Générale et La Banque Postale. Auteur de plusieurs publications et conférencier reconnu, il apporte une expertise précieuse dans le domaine.
      </p>
    </div>

    <div class="author">
      <h2>
        <span>Jean Barrère</span>
        <a class="linkedin-icon" href="https://www.linkedin.com/in/jean-barrere-ia/" target="_blank" aria-label="Jean Barrère LinkedIn">
          <img src="/images/ic/i-linkedin.png" alt="LinkedIn Jean Barrère" />
        </a>
      </h2>
      <p>
        <span>Conseil en IA et transformation data driven</span>. Spécialiste de l’IA et des transformations digitales, Jean Barrère conseille les organisations qui cherchent à se réinventer et exceller dans l’économie numérique. Il enseigne le management de l'innovation dans de nombreux établissements supérieurs.
      </p>
    </div>

    <div class="call-to-action">
      <h2>Prêt à devenir un "Insight Builder"" ?</h2>
      <p>
        Vous souhaitez devenir un <strong>Insight builder</strong> et partager vos idées, vos expériences et vos réflexions avec notre communauté grandissante ? Envoyez-nous un email à <a href="mailto:pejman.gohari@orbii.tech">pejman.gohari@orbii.tech</a> et rejoignez nos contributeurs passionnés pour façonner ensemble le futur du savoir.
      </p>
    </div>

  </div>

{% endblock %}
