{% extends "sitebase.njk" %}

{% block title %}Welcome to Pejman{% endblock %}

{% block site_content %}
  <p class="mono">Réflexions & Pensées &mdash;</p>
  
  <div class="mono">
  {% for post in collections.fr_posts %}
    <div class="post-list">
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <div class="teaser">{{ post.data.teaser }}</div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
