{% extends "sitebase.njk" %}

{% block title %}Proposez des Livres, Articles ou Vidéos{% endblock %}

{% block site_content %}
  <h2>Partagez vos Livres, Articles ou Vidéos avec la Communauté</h2>
  <p>
    Vous avez découvert un livre inspirant, une vidéo utile, ou un article pertinent que la communauté devrait connaître ? Proposez vos suggestions ci-dessous et aidez à enrichir notre communauté avec vos recommandations.
  </p>

  <!-- Image or Banner Section -->
  <div class="image-container">
    <img src="/images/become-an-insight-builder" alt="Partage de connaissances" class="suggestions-image">
  </div>

  <!-- Instructions -->
  <h2>Proposez une Suggestion</h2>
  <p>Utilisez la section ci-dessous pour soumettre vos suggestions et partager vos idées avec la communauté.</p>

  <!-- Commento comments container -->
  <div id="commento"></div>

  <!-- Commento script -->
  <script defer src="https://cdn.commento.io/js/commento.js"></script>

{% endblock %}
