---
pillar: "strategy"
title: "Strategy"
description: "A strategic orientation firmly focused on innovation, particularly in the areas of new technologies and digital, while considering issues of sovereignty, economic dependence, and ESG challenges. The strategy must also be dynamic, constantly reassessed and adjusted to seize the best opportunities while mitigating risks. AI becomes a key lever in this strategy, enabling the maximization of performance while remaining agile and adaptable.

"
---
{% extends "pillarbase.njk" %}
